{% extends "DACoreBundle::layout.html.twig" %}

{% block body %}
    <h3>Formulaire d'annonce</h3>

    <div class="well row">
        {# S'il y a une erreur, on l'affiche dans un joli cadre #}
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
        <form action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <label for="username">Login :</label>
                <input type="text" id="username" name="_username" class="form-control col-md-10" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control col-md-10" />
            </div>
            <div class="form-group" style="clear:both;padding-top: 15px;">
                 <input type="submit" value="Connexion" class="btn btn-primary" />
            </div>
        </form>
    </div>

{% endblock %}